[Desktop Entry]
Categories=Settings;
Exec=biglinux-themes-gui
Icon=preferences-system-windows-effect-trackmouse
Name[pt_BR]=Aparência
Name=Appearance
StartupNotify=true
Terminal=false
Type=Application
